h1 {
    color: blue;
    text-align: center;}

    h2 {
        color: green;
        font-style: italic;
        text-align: center;
      }
      p {
        font-family: sans-serif;
      }
      ul {
        line-height: 40px;
      }
      .intro {
        font-style: italic;
      } 
      .author {
        color: red;
      }
      .author {
        color: red;
        font-size: 12px;
      }
      .author {
        color: red;
      }
      p.author {
        font-size: 12px;
      }
      .line1 {
        color: red;
      }
      #line2 {
        color: red;
      }
      img {
        float: left;
      }
      .sidebar {
        width: 30%;
        float: right;
        background-color: yellow;
      }
      .column {
        width: 350px;
        float: left;
      } 

      .test-box {
        border: 2px solid red;
      }.test-box {
        border-left: 2px solid red;
        border-right: 4px solid blue;
        border-top: 6px solid orange;
        border-bottom: 8px solid black;
      }
      .test-box {
        border: 2px solid red;
        padding: 6px;
      }

      test-box {
        border: 2px solid red;
        padding: 6px;
        margin: 20px;
        background-color: yellow;
      }
      .test-box {
        border: 2px solid red;
        padding: 6px;
        margin: 20px;
        background-color: yellow;
      }
      body {
        font-family: sans-serif;
      }

      .cats p {
        background-color: coral;
      }
      .dogs p {
        background-color: steelblue;
      }
      .cats p a {
        font-weight: bold;
      }
      .dogs p a {
        font-style: italic;
      }
      .dogs p a {
        font-weight: bold;
      }
      a {
        font-weight: normal;
      } 

